.venv/
__pycache__/
.DS_Store
.env
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*.pt
models/*.onnx
models/*.engine
!models/.gitkeep
outputs/*
!outputs/.gitkeep
.streamlit/
.pytest_cache/
